li{
    list-style-type:none;
}
.envelope{
    border:3px solid black;
    width: 900px;
    height:400px;
    display: grid;
    grid-template-areas:
    'fromPerson . stamp'
    '. toPerson .';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr)

}
.fromPerson {
    grid-area:fromPerson;
}
.toPerson {
    grid-area:toPerson;
}
.stamp{
    grid-area:stamp;
    margin-right:10px;
    margin-top:10px;    
    justify-self: flex-end;    ;
}